.jumbotron img{
    width:200px;
    
}

.nav-link{
    width: 100%
}

@media only screen and (max-width: 700px) {
    img {
        max-width: 100%;
        height: auto;
    }
    .container{
        padding-left: 30px;
    }

    
    body {
        background-color: lightgrey;
      }
}


@media only screen and (min-width: 1200px) {

 
    body {
        background-color: white;
      }
}